<div class="row mt-5">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Error interno del Servidor</h1>
      <p>La pagina tuvo un problema al cargar</p>
      <a class="btn btn-primary btn-lg" href="/">Volver al inicio</a>
    </div>
  </div>
</div>