body {
    background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container-print {
    width: 21.59cm;
    height: 27.94cm;
    /* Puedes agregar otros estilos o bordes si es necesario */
    border: 1px solid black;
    padding: 1cm;
}

.btn-bg {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #43e, #f35, #43e, #f35);
    background-size: 150% auto;
    transition: background-position 1s ease;
    color: white;
    border: none;
}

.btn-bg:hover {
    background-position: right center;
    color: white;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #27b8e4;
}

.text-primary {
    color: #27b8e4 !important;
}

.text-1 {
    color: #a947f4;
}

.text-2 {
    color: #27b8e4;
}

.presupuesto-index td,
.presupuesto-index th {
    padding: 0.8rem 1.5rem;
}

.totalsDiv {
    height: 200px;
}

.container-print p {
    margin: 0;
    padding: 0;
}

.container-print {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.btn-custom {
    height: 1.8rem; /* h-10 */
    width: 3.9rem; /* w-10 */
    display: flex; /* flex */
    align-items: center; /* items-center */
    justify-content: center; /* justify-center */
    font-weight: bold; /* font-bold */
    background-color: #32c47d; /* bg-lime-500 */
    color: #fff; /* text-white */
    font-size: 1.5rem; /* text-2xl */
    border: none; /* hover:outline-none (remove the default outline on hover) */
}

.btn-custom:hover {
    box-shadow: 0 0 0 3px rgba(50, 196, 125, 0.5); /* hover:ring-2 hover:ring-offset-2 hover:ring-lime-500 */
}
