body {
    background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.btn-bg {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #43e, #f35, #43e, #f35);
    background-size: 150% auto;
    transition: background-position 1s ease;
    color: white;
    border: none;
}

.btn-bg:hover {
    background-position: right center;
    color: white;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #27b8e4;
}

.text-primary {
    color: #27b8e4 !important;
}

.text-1 {
    color: #a947f4;
}

.text-2 {
    color: #27b8e4;
}

.presupuesto-index td,
.presupuesto-index th {
    padding: 0.8rem 1.5rem;
}

.totalsDiv {
    height: 200px;
}

.btn-custom {
    height: 1.8rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #32c47d;
    color: #fff;
    font-size: 2rem;
    border: none;
    margin: 0 auto;
    padding: 1rem;
}

.btn-custom:hover {
    box-shadow: 0 0 0 3px rgba(50, 196, 125, 0.5);
}
.btnRemoveRow {
    height: 1.8rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: red;
    color: #fff;
    border: none;
    margin: 0 auto;
    padding: 1rem;
}
.btnRemoveRow:hover {
    box-shadow: 0 0 0 3px red;
}

/* Clase para el formato de papel tamaño carta */
.carta {
    /* Tamaño carta */
    width: 21.59cm;
    height: 100%;

    /* Sangría */
    text-indent: 5ch;
    font-size: 12px;
}

.carta p {
    margin: 0;
    padding: 0;
}

.card-with-description {
    height: 100px;
    overflow-y: auto;
}
