<div class="row justify-content-center">
    <div>
        <div class="main-cards">
            <div class="card-dashboard">
                <div class="card-inner">
                    <p class="text-primary">TOTAL CREADOS</p>
                    <span class="material-icons-outlined text-blue">check_circle_outline</span>
                </div>
                <span class="text-primary font-weight-bold">249</span>
            </div>

            <div class="card-dashboard">
                <div class="card-inner">
                    <p class="text-primary">PAGADOS</p>
                    <span class="material-icons-outlined text-orange">payment</span>
                </div>
                <span class="text-primary font-weight-bold">230</span>
            </div>

            <div class="card-dashboard">
                <div class="card-inner">
                    <p class="text-primary">PENDIENTES DE PAGO</p>
                    <span class="material-icons-outlined text-green">schedule</span>
                </div>
                <span class="text-primary font-weight-bold">19</span>
            </div>

            <div class="card-dashboard">
                <div class="card-inner">
                    <p class="text-primary">RECHASADOS</p>
                    <span class="material-icons-outlined text-red">warning</span>
                </div>
                <span class="text-primary font-weight-bold">8</span>
            </div>

        </div>
        <div class="charts">
            <div class="charts-card">
                <p class="chart-title">PRESENTACIÓN GRÁFICA</p>
                <div id="bar-chart"></div>
            </div>
        </div>
    </div>
</div>